@import "../../../../styles/variables";

.container {
  width: 100%;
  font-size: 36px;
  color: $white;
}

.sequenceBox {
  display: flex;
  justify-content: flex-end;
  min-width: 50px;
}

.eloBox {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  font-size: 26px !important;
  height: 36px;
  font-weight: bold !important;
}
