@import "../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  padding: 20px;
  border-top: 1px solid #fff;
  background-color: $grey;
  height: 75px;

}
